#contact-details-block {
    text-align: center;
}

.LI-footer {
    text-align: left;
    padding-left: 10px;
}

.LI-view-profile {
    color: white !important;
}

#contact {
    padding-top: 50px;

    .section-head {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}